.serAreaCm4 {
	padding: 0px 10px;
}

.serAreaPan {
	border-radius: 0px;
}

.serAreaPanSec {
	margin-bottom: 0px;
	border-bottom: 0px;
}

h1.text-center {
	font-size: 4em;
	letter-spacing: 12px;
}

.serArea {
	margin-left: 0px;
}

.serAreaH4 {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #219ff0;
	color: #FFFFFF;
	padding: 10px;
}

.serAreaFirDiv {
	background-color: #219ff0;
	padding: 0px 10px 10px 10px;
}

.serAreaFirDiv a {
	color: #FFFFFF;
}

.expertList {
	/*width: 100%;
	height: 50%;*/
	margin: 10px auto;
	overflow: auto;
}

.expertListPho {
	width: 160px;
	height: 160px;
	display: block;
	margin: 10px auto;
}

.serAreaCm3 {
	padding: 20px 10px;
}

.expertListPos {
	font-size: 1.2em;
	font-weight: bold;
	margin: 20px auto;
}


/* Carousel base class */

.carousel {
	height: 500px;
	margin-bottom: 60px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
	z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel .item {
	height: 500px;
	/*	background-color: #777;*/
}

.carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

.netizenIntRow {
	width: 90%;
	margin: 2% auto 10% auto;
}

.netizenIntPan {
	width: 90%;
	height: 300px;
	padding: 10px;
}

.netizenIntUerPho {
	width: 50px;
	height: 50px;
}

.netizenIntUerNam {
	font-weight: bold;
}

.netizenIntUerTit {
	display: inline-block;
}

.netizenIntUerDivPho {
	display: inline-block;
	margin: 10px;
}

.netizenIntUerInf {
	display: inline-block;
	width: 60%;
	height: 50px;
	position: relative;
	top: 10px;
	left: 10px;
}

.left.carousel-control {
	background-color: #FFFFFF;
	background-image: none;
	width: 5%;
}

.right.carousel-control {
	background-color: #FFFFFF;
	background-image: none;
	right: 20px;
	width: 5%;
}

#carouseldForwardBut {
	top: 40%;
}

#carouseldBackBut {
	top: 40%;
}

.netizenIntA {
	display: block;
	margin-left: 60px;
}

.netizenIntDoubleQuo {
	font-size: 48px;
	color: #999;
	height: 25px;
	margin-right: 10px;
	line-height: 1;
	vertical-align: bottom;
	display: inline-block;
}

.netizenIntCon {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #EEEEEE;
}

.carousel-indicators {
	bottom: 60px;
}

li[data-target="#myCarousel"] {
	width: 14px;
	height: 14px;
	background-color: #999999;
	margin: 3px;
}

.carousel-indicators .active {
	width: 14px;
	height: 14px;
	background-color: #219FF0;
	margin: 3px;
}

.dataShowRow1 {
	font-size: 1.5em;
}

.dataShowNum {
	font-size: 4em;
}

.item>div {
	display: inline-block;
}

.lawLectureRoo {
	width: 60%;
	height: 300px;
	/*display: inline-block;*/
}

.mediaCov {
	width: 30%;
	height: 300px;
	display: inline-block;
	position: relative;
	top: -30px;
	left: -150px;
}

.item h4 {
	display: inline-block;
	width: 200px;
	margin: 5px;
}

.item p {
	/*display: inline-block;*/
	width: 200px;
	margin: 5px;
}

.lawLectureRooPic {
	position: relative;
	top: -30px;
	left: 0px;
}

.mediaCovTit {
	position: relative;
	top: -30px;
}

.mediaCovList li {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}
.mediaCovList li a {
	color: #000000;
}
