.serAreaCm4 {
	padding: 0px 10px;
}

.serAreaPan {
	border-radius: 0px;
}

.serAreaPanSec {
	margin-bottom: 0px;
	border-bottom: 0px;
}

h1.text-center {
	font-size: 4em;
	letter-spacing: 12px;
}

.serArea {
	margin-left: 0px;
}

.serAreaH4 {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #219ff0;
	color: #FFFFFF;
	padding: 10px;
}

.serAreaFirDiv {
	background-color: #219ff0;
	padding: 0px 10px 10px 10px;
}

.serAreaFirDiv a {
	color: #FFFFFF;
}

.expertList {
	width: 160px;
	height: 160px;
	margin: auto;
	overflow: auto;
}